.top-header nav {
  display: flex;
  justify-content: space-between;
  height: 7vh;
  background-color: #570d21;
  align-items: center;
}
.top-header nav a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  background-color: #972c4a;
  height: 8vh;
  align-items: center;
}
.nav-header h1 {
  font-size: 4rem;
  margin-left: 1rem;
  font-weight: 600;
}
.nav-header nav a {
  margin-right: 4rem;
  text-decoration: none;
  font-size: 2rem;
  color: white;
}
.nav-header nav .btn {
  background-color: #946a15;
  border: 0.5rem solid beige;
}
